#div_header {
  width: 100%;
  height: 100vh;
  #logoRefill {
    z-index: 3;
  }
  nav {
    z-index: 2;
    background-color: rgba($color: #ffffff00, $alpha: 1);

    #logoRefill {
      img {
        width: 75px;
      }
    }
  }

  .navbar-toggler {
    display: block !important;
    box-shadow: 0 0 0 0;
    z-index: 5;
  }

  #barraIzquierda {
    margin: 1 em;
    z-index: 1;
    width: 100px;
    height: 100vh;

    h1 {
      width: 1.5rem;
      font-size: calc(1.5rem + 1vh);
    }
  }

  #carruselPromocion {
    height: 100vh;
    overflow: hidden;
  }
}
