#div_header {
  width: 100%;
  height: 100vh;
  #logoRefill {
    z-index: 3;
  }
  nav {
    z-index: 4;
    background-color: rgba($color: #ffffff00, $alpha: 1);

    #logoRefill {
      img {
        width: 75px;
      }
    }
  }

  .navbar-toggler {
    display: block !important;
    box-shadow: 0 0 0 0;
    z-index: 6;
  }

  #barraIzquierda {
    z-index: 3;
    width: 100px;
    height: 100vh;

    h1 {
      width: 1rem;
      font-size: 1.5rem;
    }

  }
  
  .offcanvas {
    background: linear-gradient(
      -244.86464315926816deg,
      rgba(5, 6, 7, 1) -4.024739583333329%,
      rgba(5, 6, 7, 1) 46.05219184027777%,
      rgba(25, 26, 27, 1) 96.54817708333333%,
      rgba(26, 27, 28, 1) 96.54817708333333%
    );
    .offcanvas-body {
      ul {
        height: 80vh;
      }
    }
  }

  #carruselPromocion {
    height: 100vh;
    overflow: hidden;
    .carousel-inner {
      .carousel-item {
        img {
          height: 100vh;
          object-fit: cover;
          object-position: 50% 50%;
        }
      }
    }
  }

  .border-fire {
    border-bottom-color: #f79714 !important;
    border-top-color: #f79714 !important;
    border-left-color: #f79714 !important;
    border-right-color: #f79714 !important;
    border-color: #f79714 !important;
  }
}
