#div_google_maps {
  .info-map {
    border-radius: 2%;
    overflow: hidden;
    #google_maps_iframe {
      height: clamp(15rem, 40vh, 150rem);
      width: clamp(100%, 100%, 100%);
    }
    #adress-container {
      height: 10vh;
      background: white;
      .adress-place {
        width: 60vh;
        height: 5vh;
      }
    }
  }
}
