#div_header {
  width: 100%;
  height: 100vh;
}
#div_header #logoRefill {
  z-index: 3;
}
#div_header nav {
  z-index: 4;
  background-color: white;
}
#div_header nav #logoRefill img {
  width: 75px;
}
#div_header .navbar-toggler {
  display: block !important;
  box-shadow: 0 0 0 0;
  z-index: 6;
}
#div_header #barraIzquierda {
  z-index: 3;
  width: 100px;
  height: 100vh;
}
#div_header #barraIzquierda h1 {
  width: 1rem;
  font-size: 1.5rem;
}
#div_header #barraIzquierda .offcanvas {
  background: linear-gradient(-244.8646431593deg, #050607 -4.0247395833%, #050607 46.0521918403%, #191a1b 96.5481770833%, #1a1b1c 96.5481770833%);
}
#div_header #barraIzquierda .offcanvas .offcanvas-body ul {
  height: 80vh;
}
#div_header #carruselPromocion {
  height: 100vh;
  overflow: hidden;
}
#div_header #carruselPromocion .carousel-inner .carousel-item img {
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}
#div_header .border-fire {
  border-bottom-color: #f79714 !important;
  border-top-color: #f79714 !important;
  border-left-color: #f79714 !important;
  border-right-color: #f79714 !important;
  border-color: #f79714 !important;
}

#div_google_maps {
  background: purple;
}
#div_google_maps .info-map {
  border-radius: 2%;
  overflow: hidden;
  background: gray;
  height: clamp(20rem, 50rem, 100rem);
  width: clamp(20rem, 50rem, 100rem);
}
#div_google_maps .info-map #google_maps_iframe {
  height: clamp(15rem, 40vh, 150rem);
  width: clamp(100%, 100%, 100%);
}
#div_google_maps .info-map #adress-container {
  height: 10vh;
  background: red;
}

#div_menus #platillos_cortes, #div_menus #platillos_cervezas, #div_menus #platillos_hamburguesas {
  min-height: 50vh;
}
#div_menus #platillos_cortes figure, #div_menus #platillos_cervezas figure, #div_menus #platillos_hamburguesas figure {
  min-width: 250px;
  width: 40%;
  height: 35vh;
  margin: 30px auto;
  border-radius: 25px;
  box-shadow: 0px 25px 30px black;
}
#div_menus #platillos_cortes figure img, #div_menus #platillos_cervezas figure img, #div_menus #platillos_hamburguesas figure img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: all 500ms ease-out;
}
#div_menus #platillos_cortes figure .letras, #div_menus #platillos_cervezas figure .letras, #div_menus #platillos_hamburguesas figure .letras {
  height: 100%;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}
#div_menus #platillos_cortes figure .letras p, #div_menus #platillos_cervezas figure .letras p, #div_menus #platillos_hamburguesas figure .letras p {
  font-size: 1rem;
}
#div_menus #platillos_cortes figure:hover .letras, #div_menus #platillos_cervezas figure:hover .letras, #div_menus #platillos_hamburguesas figure:hover .letras {
  opacity: 0.83;
  visibility: visible;
}
#div_menus #platillos_cortes figure:hover .letras h2, #div_menus #platillos_cervezas figure:hover .letras h2, #div_menus #platillos_hamburguesas figure:hover .letras h2 {
  /*margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px; */
  transition: all 700ms ease-out;
}

@media screen and (min-width: 576px) {
  #div_menus #platillos_cortes, #div_menus #platillos_cervezas, #div_menus #platillos_hamburguesas {
    min-height: 100vh;
  }
  #div_menus #platillos_cortes figure, #div_menus #platillos_cervezas figure, #div_menus #platillos_hamburguesas figure {
    margin: 0 auto;
  }
  #div_menus #platillos_cortes figure .letras p, #div_menus #platillos_cervezas figure .letras p, #div_menus #platillos_hamburguesas figure .letras p {
    font-size: 1.5rem;
  }
}
#div_logos h2 {
  font-size: clamp(1.5rem, calc(1rem + 5vw), 3.5rem);
  text-shadow: 2px 2px 2px black;
}
#div_logos .picAnimations {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-duration: 1s;
  width: clamp(120px, 25%, 180px);
  aspect-ratio: 1/1;
  overflow: hidden;
}
#div_logos .picAnimations:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 1s;
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.text-honey {
  color: #e8d274 !important;
}

.text-fire {
  color: #f79714 !important;
}

.text-palehoney {
  color: #cbb58a !important;
}

.text-wood {
  color: #a97554 !important;
}

.text-dark-wood {
  color: #754120 !important;
}

.text-true-dark {
  color: #050607 !important;
}

.bg-honey {
  background-color: #e8d274 !important;
}

a.bg-honey:hover, a.bg-honey:focus,
button.bg-honey:hover,
button.bg-honey:focus {
  background-color: #e1c448 !important;
}

.bg-fire {
  background-color: #f79714 !important;
}

a.bg-fire:hover, a.bg-fire:focus,
button.bg-fire:hover,
button.bg-fire:focus {
  background-color: #d17c07 !important;
}

.bg-palehoney {
  background-color: #cbb58a !important;
}

a.bg-palehoney:hover, a.bg-palehoney:focus,
button.bg-palehoney:hover,
button.bg-palehoney:focus {
  background-color: #bb9f67 !important;
}

.bg-wood {
  background-color: #a97554 !important;
}

a.bg-wood:hover, a.bg-wood:focus,
button.bg-wood:hover,
button.bg-wood:focus {
  background-color: #875d43 !important;
}

.bg-dark-wood {
  background-color: #754120 !important;
}

a.bg-dark-wood:hover, a.bg-dark-wood:focus,
button.bg-dark-wood:hover,
button.bg-dark-wood:focus {
  background-color: #4d2b15 !important;
}

.bg-true-dark {
  background-color: #050607 !important;
}

a.bg-true-dark:hover, a.bg-true-dark:focus,
button.bg-true-dark:hover,
button.bg-true-dark:focus {
  background-color: black !important;
}

.w-15 {
  width: 15% !important;
}

.w-30 {
  width: 30% !important;
}

.w-45 {
  width: 45% !important;
}

.w-60 {
  width: 60% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 85% !important;
}

html {
  overflow-x: hidden;
}
html body {
  background-color: black;
  background-image: url("../images/charcoal-84670_1920.jpg");
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
