@import "./colors.scss";

html {
  overflow-x: hidden;
  body {
    background-color: black;
    background-image: url("../images/charcoal-84670_1920.jpg");
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
