@import "./colors.scss";

.w-15 {
  width: 15% !important;
}

.w-30 {
  width: 30% !important;
}

.w-45 {
  width: 45% !important;
}

.w-60 {
  width: 60% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 85% !important;
}

html {
  overflow-x: hidden;
  body {
    background-color: black;
    background-image: url("../images/charcoal-84670_1920.jpg");
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
